
/********header**************/
.nav {
  align-items: center;
  color: red;
  display: flex;
  justify-content: space-between;
  padding-right: 45px;
  padding-left: 10px;
}

nav a {
  margin-left: 12px;
  text-decoration: none;
}
.icon {
  
  font-size: 50px;
  color: green;
  margin-right: auto;
 
}

/*******footer**********/
footer {
  display: block;
  text-align: center;
  
}

/***************list**********/

.list_name {
  align-items: center;
}
.btn {
  display: inline-block;
  background: hsl(205, 78%, 60%);
  color: #fff;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem; 
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: all 0.3s linear;
}
.btn:hover {
  background: hsl(205, 86%, 17%);
  color: vhsl(205, 78%, 60%);
}

/******about_page************/
.about_tab {
  border: 2rem;
  border-radius: 5rem;
  background-color: aqua;
  text-align: center;
  padding: 6rem;
}